# Development files
.dockerignore
.docker/
# .docker-compose.yml
.docker-compose.dev.yml

# Node.js/npm files
node_modules/
npm-debug.log

# TypeScript files
# *.ts
# *.tsx
# *.d.ts

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Git files
.git/
.gitignore

# Log files
*.log
npm-debug.log*

# # Prisma files
# prisma/.cache
# prisma/__tests__